[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = https://github.com/timcharper/textile.vim.git
    ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/applescript"]
	path = bundle/applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/preview"]
	path = bundle/preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/latex"]
	path = bundle/latex
	url = git://github.com/vim-scripts/LaTeX-Box.git
    ignore = untracked
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
    ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/mako"]
	path = bundle/mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "bundle/python-ident"]
	path = bundle/python-ident
	url = git://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/eco"]
	path = bundle/eco
	url = git://github.com/AndrewRadev/vim-eco.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule "bundle/gf-python"]
	path = bundle/gf-python
	url = https://github.com/mkomitee/vim-gf-python.git
[submodule "bundle/vim-arduino"]
	path = bundle/vim-arduino
	url = https://github.com/sinisterstuf/vim-arduino.git
[submodule "bundle/rtf-highlight"]
	path = bundle/rtf-highlight
	url = https://github.com/jdonaldson/rtf-highlight.git
