[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/pyte"]
	path = bundle/pyte
	url = git://github.com/vim-scripts/pyte.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "bundle/hammer"]
	path = bundle/hammer
	url = https://github.com/robgleeson/hammer.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/applescript"]
	path = bundle/applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/preview"]
	path = bundle/preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = git://github.com/uggedal/jinja-vim.git
[submodule "bundle/latex"]
	path = bundle/latex
	url = git://github.com/vim-scripts/LaTeX-Box.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
